{% extends "reading/layout.html" %} {% block content %}

<div style="height: 300px; width: 100%; overflow: hidden;">
    <img style="width: 100%; top: -70%; position: relative;" src="https://www.foootage.com/system/images/files/000/001/876/original/blur-book-stack-books-bookshelves-bulb.jpg?1511069208" alt="">
</div>

<div class="container mt-4">
    <div class="row justify-content-center">

        <div class="col-auto mb-3">
            <div class="card" style="width: 18rem;">
                <a class="text-decoration-none text-body" href="">
                    <img class="card-img-top" style="object-fit: contain; height: 18rem;" src="https://m.media-amazon.com/images/I/41KrouGOE-L.jpg">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                    </div>
                </a>
            </div>
        </div>

    </div>
</div>

{% endblock %}