{% extends "reading/layout.html" %} {% block content %} {% load static %}

<div class="row mt-3 justify-content-center">

    {% for book in books %}
        <div class="reading col-auto mb-3">
            <div class="card" style="width: 18rem;">
                <a class="text-decoration-none text-body" href="{% url 'book' book.gid %}">
                    <img class="card-img-top" style="object-fit: contain; height: 18rem;" src="{{ book.thumbnail }}">
                    <div class="card-body">
                        <h1>{{ forloop.counter }}</h1>
                        <h5 class="card-title">{{ book.title }}</h5>
                        {% for author in book.authors %}
                        <!-- <a href=""> -->
                            <h6 class="card-subtitle mb-2 text-muted">{{ author }}</h6>
                        <!-- </a> -->
                        {% endfor %}
                    </div>
                </a>
            </div>
        </div>
    {% endfor %}

</div>

{% endblock %}
